@mixin blockSize {
  width: 100px;
  height: 100px;
}

@mixin animation {
  transform: translate(0, -20px);
  transition-duration: 500ms;
}

@mixin centered {
  display: flex;
  align-items: center;
}
