.calendar__day {
  @include centered;
  justify-content: center;
  @include blockSize;
  background-color: $block-background;
  border: $block-border;

  &:hover {
    cursor: pointer;
    background-color: $block-background-hover;
    @include animation;
  }

  @for $i from 1 through 31 {
    &:nth-child(#{$i})::after {
      content: "#{$i}";
    }
  }
}

.calendar__day:nth-child(n+29) {
  display: none;
}

@for $i from 28 through 31 {
  .calendar-#{$i} .calendar__day:nth-child(-n+#{$i}) {
    display: flex;
  }
}

$week: ( "mon": 0, "tue": 1, "wed": 2, "thu": 3, "fri": 4, "sat": 5, "sun": 6);

@each $nameOfDay, $numberOfDay in $week {
  .calendar-#{$nameOfDay} > div:first-child {
    margin-left: 101px * $numberOfDay;
  }
}
